<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="nicolagigante.celieye" >

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:theme="@style/MyCustomTheme" >
        <activity
            android:name=".activity.Eye"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.Info"
            android:label="@string/title_activity_info"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="nicolagigante.celieye.activity.Eye" />
        </activity>
        <activity
            android:name=".activity.Settings"
            android:label="@string/title_activity_settings"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="nicolagigante.celieye.activity.Eye" />
        </activity>
        <activity
            android:name=".activity.Design"
            android:label="@string/title_activity_design"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="nicolagigante.celieye.activity.Eye" />
        </activity>
        <activity
            android:name=".activity.NotAvailable"
            android:label="@string/title_activity_not_available"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="nicolagigante.celieye.activity.Eye" />
        </activity>
        <activity
            android:name=".test.ParseJSON"
            android:label="@string/title_activity_parse_json" >
        </activity>
    </application>

</manifest>
